body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 127, 45);
}

div{
    background-color: rgb(rgb(233, 165, 102), green, blue);
    position: absolute;
    top: 50%;
    left: 50%;
}