body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 127, 45);
}

div{
    background-color: rgb(rgb(46, 161, 62), green, blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80x;
    border-radius: 15px;
    color: white;
}